@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.backdrop-blur-sm {
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  [role="dialog"] {
    max-width: 100% !important;
    width: 100% !important;
  }
}
